.idea/
__pycache__
log
eval/*.pdf
weights/convxts-base_ade20k.pth
weights
megadepth_matches_512_3
results/
imgs/
data
nets/semseg/enconet_resnet50s_ade
nets/semseg/encoding/
run_r2d2.sh
nets/semseg/checkpoints
.nfs*
log*
